0;276;0c11;rgb:1818/1818/181811;rgb:1818/1818/1818__pycache__/
*.pyc
*.pyo
.pytest_cache/
dist/
build/
*.egg-info/
outputs/
*.npz
*.png
.ruff_cache/
.DS_Store
.venv/

# Additional files and directories
frames/
colormaps.py
ramses-utils/
example.py
dedalus_dir/
vids/
.mypy_cache/